# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java
# Author: Diego Gomez Mosquera
trigger:
- 'master'

pool:
  vmImage: 'ubuntu-20.04'

stages:
- stage: Install_Java11
  displayName: Install Java11
  jobs:
  - job: Install_Java11
    displayName: Install_Java11
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '11'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

- stage: Clean
  displayName: Clean
  dependsOn: Install_Java11
  jobs:
  - job: Clean_Sources
    displayName: Clean Sources
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: false
        goals: 'clean'